{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form,{attr: {novalidate: 'novalidate'}})  }}
    {{ form_widget(form) }}
    <p class="error">{{ form_errors(form) }}</p>
    <input type='submit' value='Add program'>
    {{ form_end(form) }}
{% endblock %}

