<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
           {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" href="chicago_PD_43329.ico" />

    </head>
    <body>
    {% block header %} {% include '_navbar.html.twig' %} {% endblock%}
    {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
